POSTGRES_DB=vzt_system
POSTGRES_USER=vzt_user
POSTGRES_PASSWORD=ZMEN_TOTO_NA_SILNE_DB_HESLO_2026!
JWT_SECRET=ZMEN_TOTO_NA_VELMI_DLOUHY_A_TAJNY_JWT_SECRET_2026!
CORS_ORIGIN=https://zoom-pro.app
HTTP_PORT=8080
